[run]
source = .
omit = ./venv/*,*apps.py,*models.py,*settings.py,*manage.py,*asgi*,*wsgi*,*admin.py,*urls.py

[report]
omit = ./venv/*,*apps.py,*models.py,*settings.py,*manage.py,*asgi*,*wsgi*,*admin.py,*urls.py
